# Xcode
*.xcuserstate
*.xcscmblueprint
xcuserdata/
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
